/app/config/parameters.yml
/app/*\.cache
/app/SymfonyRequirements.php
/app/cache
/app/logs
/web/bundles
/web/css
/web/js
/web/front
/web/dist
/src/App/Resources/views/layouts/*
/.sass-cache/
/src/front/.tmp
/node_modules
/vendor
/bin
