parameters:
    database_driver:   pdo_mysql
    database_host:     ~
    database_port:     ~
    database_name:     app
    database_user:     root
    database_password: ~

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
